@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  position: relative;
  background: url("dusan-kipic-qtD-aRQtMuc-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 10px rgba(0, 200, 200, 7.22);
  margin: 20px 20px;
}

.info {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-color: #121212;
  color: blueviolet;
  padding: 30px 30px;
  margin: 20px 20px;
  height: 400px;
}

.message-el {
  text-align: center;
  font-family: Algerian;
  font-size: 1.25rem;
  color: green;
  transition: all 0.7s ease-in-out;
}

.z {
  padding: 60px 40px;
  font-weight: bolder;
}

.btn {
  display: flex;
  flex-direction: column;
}

.btns {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px 175px;
  border: 0;
  border-radius: 10px;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: larger;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.867);
  font-weight: bolder;
  transition: all 0.2s ease-in;
}

.generatecard {
  background-color: rgba(120, 6, 208, 0.889);
  color: wheat;
}

.startgame {
  background-color: purple;
  color: goldenrod;
}

span {
  margin-left: 40px;
}

.restartgame {
  background-color: rgba(120, 6, 208, 0.889);
  color: goldenrod;
}

.btn .btns:active {
  transform: scale(0.75);
}

.btn .btns:disabled {
  color: #121212;
  background-color: grey;
  transform: none;
}
