.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.prod {
  height: 300px;
  width: calc(100% - 100px);
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin: 20px 20px;
}

.info {
  padding: 20px 20px 0 20px;
}

img {
  width: calc(100% - 400px);
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  padding: 0;
  margin: 0;
}
